@use '../../../style/scss/variables.scss' as *;

.news {
  position: relative;
  margin-bottom: 89px;

  @media only screen and (max-width: 991px) {
    margin-bottom: 81px;

    .steps__bg {
      display: flex;
      width: 860px;
      height: 860px;
      top: -10%;
    }
  }

  &__inner {
    position: relative;
    z-index: 1;
  }

  &__title {
    margin-bottom: 50px;
    font-size: 40px;
    font-weight: 600;

    @media only screen and (max-width: 991px) {
      font-size: 24px;
      margin-bottom: 30px;
    }
  }

  &__items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 24px;

    @media only screen and (max-width: 1300px) {
      grid-template-columns: 1fr 1fr;
    }

    @media only screen and (max-width: 991px) {
      grid-template-columns: 1fr;
    }
  }

  &__item {
    box-shadow: 0 4px 8px 0 rgba(0, 17, 8, 0.1);
    background: #001c3b;
    border-radius: 8px;
    padding: 24px;
    border: 1px solid #001c3b;
    display: flex;
    flex-direction: column;
    transition: 300ms;
    cursor: pointer;
    overflow: hidden;
    position: relative;

    &:before {
      content: '';
      display: block;
      position: absolute;
      background: url('/images/blur-news.png') 50% 50% no-repeat;
      width: 170px;
      height: 170px;
      bottom: 0;
      right: 0;
    }

    @media only screen and (max-width: 991px) {
      padding: 16px;
      position: relative;
    }

    &:hover {
      .news__icon {
        background: #0d2f56;
      }
    }
  }

  &__icon {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
    border-radius: 8px;
    width: 48px;
    height: 48px;
    background: #030826;
    justify-content: center;
    transition: 300ms;
    position: absolute;
    bottom: 0;
    right: 24px;

    @media only screen and (max-width: 991px) {
      width: 32px;
      height: 32px;

      svg {
        width: 18px;
        height: 18px;
      }
    }

    svg {
      path {
        fill: $base-primery;
      }
    }
  }

  &__info {
    flex-grow: 10;
    margin-bottom: 51px;

    span {
      display: block;
      font-size: 18px;
      font-weight: 600;
      margin-bottom: 5px;

      @media only screen and (max-width: 991px) {
        font-size: 16px;
      }
    }

    p {
      @media only screen and (max-width: 991px) {
        font-size: 14px;
      }
    }
  }

  &__date {
    opacity: 0.7;

    @media only screen and (max-width: 991px) {
      font-size: 14px;
    }
  }
}
