<div class="lk">
  <div class="steps__bg">
    <img src="images/steps-bg.png" alt="" />
  </div>
  <div class="container">
    <form action="#">
      <div class="lk__inner">
        <div class="lk__head">
          <div class="lk__title">Профиль</div>

          <div class="lk__links">
            <a href="#" class="active">Личный кабинет</a>

            <a href="#">Партнерский кабинет</a>
          </div>
        </div>

        <div class="lk__info">
          <div class="lk__top">
            <div class="lk__top--item active" data-top-item>Личные данные</div>
            <div class="lk__top--item" data-top-item>Операции</div>
            <div class="lk__top--item" data-top-item>Смена пароля</div>
            <div class="lk__top--item" data-top-item>Партнерам</div>
          </div>

          <div class="lk__content">
            <div class="lk__content--item active" data-body-item>
              <div class="lk-private">
                <div class="lk-private__info">
                  <div class="steps-operation__input gray">
                    <input type="text" value="Primer@pochta.com" />
                    <svg
                      width="14"
                      height="11"
                      viewBox="0 0 14 11"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M12 0H1.33333C0.6 0 0.00666666 0.6 0.00666666 1.33333L0 9.33333C0 10.0667 0.6 10.6667 1.33333 10.6667H12C12.7333 10.6667 13.3333 10.0667 13.3333 9.33333V1.33333C13.3333 0.6 12.7333 0 12 0ZM12 2.66667L6.66667 6L1.33333 2.66667V1.33333L6.66667 4.66667L12 1.33333V2.66667Z"
                        fill="white"
                      />
                    </svg>
                  </div>

                  <div class="steps-operation__input">
                    <input type="text" placeholder="Фамилия" />
                    <svg
                      width="11"
                      height="11"
                      viewBox="0 0 11 11"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M5.33333 5.33333C6.80667 5.33333 8 4.14 8 2.66667C8 1.19333 6.80667 0 5.33333 0C3.86 0 2.66667 1.19333 2.66667 2.66667C2.66667 4.14 3.86 5.33333 5.33333 5.33333ZM5.33333 6.66667C3.55333 6.66667 0 7.56 0 9.33333V10.6667H10.6667V9.33333C10.6667 7.56 7.11333 6.66667 5.33333 6.66667Z"
                        fill="white"
                      />
                    </svg>
                  </div>
                  <div class="steps-operation__input">
                    <input type="text" placeholder="Фамилия" />
                    <svg
                      width="11"
                      height="11"
                      viewBox="0 0 11 11"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M5.33333 5.33333C6.80667 5.33333 8 4.14 8 2.66667C8 1.19333 6.80667 0 5.33333 0C3.86 0 2.66667 1.19333 2.66667 2.66667C2.66667 4.14 3.86 5.33333 5.33333 5.33333ZM5.33333 6.66667C3.55333 6.66667 0 7.56 0 9.33333V10.6667H10.6667V9.33333C10.6667 7.56 7.11333 6.66667 5.33333 6.66667Z"
                        fill="white"
                      />
                    </svg>
                  </div>
                  <div class="steps-operation__input">
                    <input type="text" placeholder="Фамилия" />
                    <svg
                      width="11"
                      height="11"
                      viewBox="0 0 11 11"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M5.33333 5.33333C6.80667 5.33333 8 4.14 8 2.66667C8 1.19333 6.80667 0 5.33333 0C3.86 0 2.66667 1.19333 2.66667 2.66667C2.66667 4.14 3.86 5.33333 5.33333 5.33333ZM5.33333 6.66667C3.55333 6.66667 0 7.56 0 9.33333V10.6667H10.6667V9.33333C10.6667 7.56 7.11333 6.66667 5.33333 6.66667Z"
                        fill="white"
                      />
                    </svg>
                  </div>
                  <div class="steps-operation__input">
                    <input type="text" placeholder="Телефон" />
                    <svg
                      width="14"
                      height="14"
                      viewBox="0 0 14 14"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M12.3958 9.11458C11.4844 9.11458 10.6094 8.96875 9.79271 8.69896C9.5375 8.61875 9.25313 8.67708 9.04896 8.87396L7.44479 10.4781C5.38125 9.42813 3.68958 7.74375 2.63958 5.68021L4.24375 4.06875C4.44792 3.87188 4.50625 3.5875 4.42604 3.33229C4.15625 2.51563 4.01042 1.64063 4.01042 0.729167C4.01042 0.328125 3.68229 0 3.28125 0H0.729167C0.328125 0 0 0.328125 0 0.729167C0 7.57604 5.54896 13.125 12.3958 13.125C12.7969 13.125 13.125 12.7969 13.125 12.3958V9.84375C13.125 9.44271 12.7969 9.11458 12.3958 9.11458Z"
                        fill="white"
                      />
                    </svg>
                  </div>
                  <div class="steps-operation__input">
                    <input type="text" placeholder="Telegram" />
                    <svg
                      width="12"
                      height="10"
                      viewBox="0 0 12 10"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M9.84375 9.51562L11.4844 0L0 4.59375L2.625 5.57812L7.54688 3.28125L4.92188 6.5625L9.84375 9.51562Z"
                        fill="white"
                      />
                    </svg>
                  </div>

                  <button class="lk__btn btn btn-primary">Сохранить</button>
                </div>
              </div>
            </div>
            <div class="lk__content--item" data-body-item>
              <div class="lk-ex">
                <div class="lk-ex__empty">
                  <img src="images/empty.png" alt="" />
                  <span>Ничего не найдено.</span>
                </div>

                <br />

                <br />

                <div class="lk-ex__over">
                  <div class="lk-ex__table">
                    <table>
                      <thead>
                        <tr>
                          <th>№</th>
                          <th>Создан</th>
                          <th>Курс</th>
                          <th>Отдаете</th>
                          <th>Получаете</th>
                          <th>Статус</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>6</td>
                          <td>23 ноя 2025</td>
                          <td>1 = 34</td>

                          <td>19.999 ₽</td>

                          <td>102 USDT</td>

                          <td>Статус</td>
                        </tr>
                        <tr>
                          <td>6</td>
                          <td>23 ноя 2025</td>
                          <td>1 = 34</td>

                          <td>19.999 ₽</td>

                          <td>102 USDT</td>

                          <td>Статус</td>
                        </tr>
                        <tr>
                          <td>6</td>
                          <td>23 ноя 2025</td>
                          <td>1 = 34</td>

                          <td>19.999 ₽</td>

                          <td>102 USDT</td>

                          <td>Статус</td>
                        </tr>
                        <tr>
                          <td>6</td>
                          <td>23 ноя 2025</td>
                          <td>1 = 34</td>

                          <td>19.999 ₽</td>

                          <td>102 USDT</td>

                          <td>Статус</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>

            <div class="lk__content--item" data-body-item>
              <div class="lk-password">
                <div class="lk-password__content">
                  <div class="steps-operation__input">
                    <input type="text" placeholder="Пароль" />
                   <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path d="M10.5 0C11.2218 0 11.8123 0.590773 11.8125 1.3125V10.5C11.8125 11.2219 11.2219 11.8125 10.5 11.8125H1.3125C0.584062 11.8125 0 11.2219 0 10.5V1.3125C0.00017551 0.590773 0.584172 0 1.3125 0H10.5ZM3.96777 3.58008C2.68432 3.58008 1.6408 4.62283 1.64062 5.90625C1.64062 7.18982 2.68421 8.2334 3.96777 8.2334C4.97953 8.23321 5.84014 7.58578 6.1582 6.68262H7.84473V8.2334H9.39648V6.68262H10.1719V5.13086H6.1582C5.84022 4.22754 4.97964 3.58027 3.96777 3.58008ZM3.96777 5.13086C4.39403 5.1311 4.74299 5.47998 4.74316 5.90625C4.74316 6.33266 4.39413 6.68238 3.96777 6.68262C3.54121 6.68262 3.19141 6.33281 3.19141 5.90625C3.19158 5.47984 3.54132 5.13086 3.96777 5.13086Z" fill="white" />
</svg>
                  </div>
                  <div class="steps-operation__input">
                    <input type="text" placeholder="Повторите пароль" />
                   <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path d="M10.5 0C11.2218 0 11.8123 0.590773 11.8125 1.3125V10.5C11.8125 11.2219 11.2219 11.8125 10.5 11.8125H1.3125C0.584062 11.8125 0 11.2219 0 10.5V1.3125C0.00017551 0.590773 0.584172 0 1.3125 0H10.5ZM3.96777 3.58008C2.68432 3.58008 1.6408 4.62283 1.64062 5.90625C1.64062 7.18982 2.68421 8.2334 3.96777 8.2334C4.97953 8.23321 5.84014 7.58578 6.1582 6.68262H7.84473V8.2334H9.39648V6.68262H10.1719V5.13086H6.1582C5.84022 4.22754 4.97964 3.58027 3.96777 3.58008ZM3.96777 5.13086C4.39403 5.1311 4.74299 5.47998 4.74316 5.90625C4.74316 6.33266 4.39413 6.68238 3.96777 6.68262C3.54121 6.68262 3.19141 6.33281 3.19141 5.90625C3.19158 5.47984 3.54132 5.13086 3.96777 5.13086Z" fill="white" />
</svg>
                  </div>

                  <button class="lk__btn btn btn-primary">Сохранить</button>
                </div>
              </div>
            </div>

            <div class="lk__content--item" data-body-item>
              <div class="lk-private">
                <div class="lk-private__info lk-private__info--part">
                  <div class="lk-private__head">
                    <div class="lk-cash__inner">
                      <div class="lk-cash__info">
                        <p>У вас ещё нет партнерского кабинета!</p>
                        <span
                          >Заполните форму и отправьте заявку. <br />
                          Мы обязательно свяжемся с Вами.</span
                        >
                      </div>

                      <div class="lk-cash__img">
                       <svg width="37" height="35" viewBox="0 0 37 35" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path d="M27.1504 5.33301L33.167 6.7002L32.5996 12.8496L36.667 17.5L32.5996 22.1504L33.167 28.2998L27.1504 29.667L24 34.9834L18.333 32.5498L12.667 35L9.5166 29.6836L3.5 28.3164L4.06641 22.1504L0 17.5L4.06641 12.833L3.5 6.66699L9.5166 5.31641L12.667 0L18.333 2.43359L24 0L27.1504 5.33301ZM12.667 22.1504H14.7275V15.9678H12.667V22.1504ZM16.0615 15.2422C15.8711 15.4275 15.7579 15.6847 15.7578 15.9678V21.1201C15.758 21.6866 16.2216 22.1504 16.7881 22.1504H21.4238C21.8514 22.1504 22.2175 21.8924 22.3721 21.5215L23.9277 17.8896C23.9741 17.7712 24 17.6476 24 17.5137V16.4834C24 15.9167 23.5364 15.4531 22.9697 15.4531H19.7188L20.208 13.0986L20.2236 12.9336C20.2235 12.7225 20.1361 12.5267 19.9971 12.3877L19.4512 11.8467L16.0615 15.2422Z" fill="white" />
</svg>
                      </div>
                    </div>
                  </div>

                  <label class="checkbox">
                    <span class="checkbox__inner">
                      <input type="checkbox" />
                      <span></span>
                    </span>
                    <span class="checkbox__text">
                      Использовать данные из вкладки “Личные данные”
                    </span>
                  </label>

                  <div class="lk-private__grids">
                    <div class="steps-operation__input">
                      <input type="text" placeholder="Фамилия" />
                    <svg width="11" height="11" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path d="M5.33333 5.33333C6.80667 5.33333 8 4.14 8 2.66667C8 1.19333 6.80667 0 5.33333 0C3.86 0 2.66667 1.19333 2.66667 2.66667C2.66667 4.14 3.86 5.33333 5.33333 5.33333ZM5.33333 6.66667C3.55333 6.66667 0 7.56 0 9.33333V10.6667H10.6667V9.33333C10.6667 7.56 7.11333 6.66667 5.33333 6.66667Z" fill="white" />
</svg>
                    </div>
                    <div class="steps-operation__input">
                      <input type="text" placeholder="Фамилия" />
                     <svg width="11" height="11" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path d="M5.33333 5.33333C6.80667 5.33333 8 4.14 8 2.66667C8 1.19333 6.80667 0 5.33333 0C3.86 0 2.66667 1.19333 2.66667 2.66667C2.66667 4.14 3.86 5.33333 5.33333 5.33333ZM5.33333 6.66667C3.55333 6.66667 0 7.56 0 9.33333V10.6667H10.6667V9.33333C10.6667 7.56 7.11333 6.66667 5.33333 6.66667Z" fill="white" />
</svg>
                    </div>
                    <div class="steps-operation__input">
                      <input type="text" placeholder="Фамилия" />
                     <svg width="11" height="11" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path d="M5.33333 5.33333C6.80667 5.33333 8 4.14 8 2.66667C8 1.19333 6.80667 0 5.33333 0C3.86 0 2.66667 1.19333 2.66667 2.66667C2.66667 4.14 3.86 5.33333 5.33333 5.33333ZM5.33333 6.66667C3.55333 6.66667 0 7.56 0 9.33333V10.6667H10.6667V9.33333C10.6667 7.56 7.11333 6.66667 5.33333 6.66667Z" fill="white" />
</svg>
                    </div>
                    <div class="steps-operation__input">
                      <input type="text" placeholder="Телеграмм" />
                      <svg width="12" height="10" viewBox="0 0 12 10" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path d="M9.84375 9.51562L11.4844 0L0 4.59375L2.625 5.57812L7.54688 3.28125L4.92188 6.5625L9.84375 9.51562Z" fill="white" />
</svg>
                    </div>
                    <div class="steps-operation__input">
                      <input type="text" placeholder="Информация" />
                      <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path d="M8.00016 1.33331C4.32016 1.33331 1.3335 4.31998 1.3335 7.99998C1.3335 11.68 4.32016 14.6666 8.00016 14.6666C11.6802 14.6666 14.6668 11.68 14.6668 7.99998C14.6668 4.31998 11.6802 1.33331 8.00016 1.33331ZM8.66683 11.3333H7.3335V9.99998H8.66683V11.3333ZM8.66683 8.66665H7.3335V4.66665H8.66683V8.66665Z" fill="white" />
</svg>
                    </div>
                  </div>

                  <div class="lk-private__aside">
                    Расскажите как планируете продвигать сервис обмена, где
                    планируете разместить баннер и ссылку, какая Ваша аудитория,
                    сколько визитов на основном сайте. Это поможет нам
                    подготовить для Вас наиболее актуальное предложение по
                    сотрудничеству
                  </div>
                  <button class="lk__btn btn btn-primary">Сохранить</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
