<div class="showcase">
  <div class="container">
    <div class="showcase__inner">
      <div class="showcase__info">
        <span class="showcase__label">
          <img src="images/show-ic.svg" alt="">
          Работаем 24/7
        </span>
        <h1 class="showcase__title title">
          Надежный сервис по обмену криптовалют
        </h1>

        <div class="showcase__desc"> Более 10 000 положительных отзывов <br> на <a href="#">BestChange</a>
        </div>

        <div class="showcase__cit">
          Внимание! Наш сервис <b>не использует</b> ботов для обмена в
          Telegram.Все обмены проводятся исключительно на главной странице
          нашего сайта
        </div>
      </div>

      <div class="showcase__content">
        <form action="#">
          <div class="showcase__form">
            <div class="showcase__top">
              <span data-showcase-top class="active">Наличные</span>
              <span data-showcase-top>Банки</span>
              <span data-showcase-top>Крипта</span>
            </div>

            <div class="showcase__sel">
              <div class="showcase__sel--head">
                <div class="showcase__sel--name">
                  <svg
                    width="16"
                    height="16"
                    viewBox="0 0 16 16"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M8.00004 9.44667C6.58004 9.44667 5.42004 8.29334 5.42004 6.86667C5.42004 5.44 6.58004 4.29333 8.00004 4.29333C9.42004 4.29333 10.58 5.44667 10.58 6.87334C10.58 8.3 9.42004 9.44667 8.00004 9.44667ZM8.00004 5.29333C7.13338 5.29333 6.42004 6 6.42004 6.87334C6.42004 7.74667 7.12671 8.45334 8.00004 8.45334C8.87338 8.45334 9.58004 7.74667 9.58004 6.87334C9.58004 6 8.86671 5.29333 8.00004 5.29333Z"
                      fill="black"
                    />
                    <path
                      d="M8 15.1734C7.01333 15.1734 6.02 14.8 5.24666 14.06C3.28 12.1667 1.10666 9.14671 1.92666 5.55337C2.66666 2.29337 5.51333 0.833374 8 0.833374C8 0.833374 8 0.833374 8.00666 0.833374C10.4933 0.833374 13.34 2.29337 14.08 5.56004C14.8933 9.15337 12.72 12.1667 10.7533 14.06C9.98 14.8 8.98666 15.1734 8 15.1734ZM8 1.83337C6.06 1.83337 3.56666 2.86671 2.90666 5.77337C2.18666 8.91337 4.16 11.62 5.94666 13.3334C7.1 14.4467 8.90666 14.4467 10.06 13.3334C11.84 11.62 13.8133 8.91337 13.1067 5.77337C12.44 2.86671 9.94 1.83337 8 1.83337Z"
                      fill="black"
                    />
                  </svg>

                  <span>Город</span>
                </div>
                <div class="showcase__sel--arrow">
                  <svg
                    width="16"
                    height="16"
                    viewBox="0 0 16 16"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M8.00001 11.2C7.53335 11.2 7.06668 11.02 6.71335 10.6667L2.36668 6.31999C2.17335 6.12666 2.17335 5.80666 2.36668 5.61332C2.56001 5.41999 2.88001 5.41999 3.07335 5.61332L7.42001 9.95999C7.74001 10.28 8.26001 10.28 8.58001 9.95999L12.9267 5.61332C13.12 5.41999 13.44 5.41999 13.6333 5.61332C13.8267 5.80666 13.8267 6.12666 13.6333 6.31999L9.28668 10.6667C8.93335 11.02 8.46668 11.2 8.00001 11.2Z"
                      fill="currentColor"
                    />
                  </svg>
                </div>
              </div>

              <div class="showcase__sel--dropdown">
                <span data-select-name> Москва </span>
                <span data-select-name> Питер </span>
                <span data-select-name> ДНР </span>
              </div>
            </div>

            <div class="showcase__container">
              <div class="showcase__items active" data-showcase-body>
                <div class="showcase__item">
                  <div class="showcase__grid">
                    <span>Отдаете</span>
                    <input type="text" placeholder="1 000" />
                    <p>1000 - 400000</p>
                  </div>

                  <div class="showcase__aside">
                    <div class="showcase__head">
                      <div class="showcase__icon">
                        <img src="images/sber.svg" alt="" />
                      </div>
                      <div class="showcase__select">
                        <div class="showcase__select--head">
                          <span>RUB</span>
                          <svg
                            width="16"
                            height="16"
                            viewBox="0 0 16 16"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                          >
                            <path
                              d="M8.00001 11.2C7.53335 11.2 7.06668 11.0201 6.71335 10.6667L2.36668 6.32005C2.17335 6.12672 2.17335 5.80672 2.36668 5.61338C2.56001 5.42005 2.88001 5.42005 3.07335 5.61338L7.42001 9.96005C7.74001 10.2801 8.26001 10.2801 8.58001 9.96005L12.9267 5.61338C13.12 5.42005 13.44 5.42005 13.6333 5.61338C13.8267 5.80672 13.8267 6.12672 13.6333 6.32005L9.28668 10.6667C8.93335 11.0201 8.46668 11.2 8.00001 11.2Z"
                              fill="black"
                            />
                          </svg>
                        </div>

                        <div class="showcase__select--body">
                          <span>USDT</span>
                          <span>USDT 1</span>
                          <span>USDT 2</span>
                        </div>
                      </div>
                    </div>

                    <div class="showcase__text">Сбербанк RUB</div>
                  </div>
                </div>

                <div class="showcase__image">
                  <svg
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M8.01726 12.2087H4.57687C4.6874 16.2135 7.96849 19.4261 12 19.4261C14.5943 19.4261 16.8779 18.0957 18.2058 16.08L19.7666 18.2994C17.9332 20.5571 15.1351 22 12 22C6.47715 22 2 17.5229 2 12C2.00001 9.87169 2.66498 7.89873 3.79837 6.27739L8.01726 12.2087ZM12 2C17.5228 2.00001 22 6.47717 22 12C22 13.9146 21.4616 15.7034 20.5284 17.2237L16.3477 11.3218H19.3955C19.0529 7.53835 15.8727 4.57392 12 4.57392C9.6094 4.57392 7.48266 5.70357 6.12438 7.45815L4.59337 5.28109C6.42282 3.26561 9.06363 2 12 2Z"
                      fill="white"
                    />
                  </svg>
                </div>
                <div class="showcase__item">
                  <div class="showcase__grid">
                    <span>Отдаете</span>
                    <input type="text" placeholder="1 000" />
                    <p>1000 - 400000</p>
                  </div>

                  <div class="showcase__aside">
                    <div class="showcase__head">
                      <div class="showcase__icon">
                        <img src="images/sber.svg" alt="" />
                      </div>
                      <div class="showcase__select">
                        <div class="showcase__select--head">
                          <span>RUB</span>
                          <svg
                            width="16"
                            height="16"
                            viewBox="0 0 16 16"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                          >
                            <path
                              d="M8.00001 11.2C7.53335 11.2 7.06668 11.0201 6.71335 10.6667L2.36668 6.32005C2.17335 6.12672 2.17335 5.80672 2.36668 5.61338C2.56001 5.42005 2.88001 5.42005 3.07335 5.61338L7.42001 9.96005C7.74001 10.2801 8.26001 10.2801 8.58001 9.96005L12.9267 5.61338C13.12 5.42005 13.44 5.42005 13.6333 5.61338C13.8267 5.80672 13.8267 6.12672 13.6333 6.32005L9.28668 10.6667C8.93335 11.0201 8.46668 11.2 8.00001 11.2Z"
                              fill="black"
                            />
                          </svg>
                        </div>

                        <div class="showcase__select--body">
                          <span>USDT</span>
                          <span>USDT 1</span>
                          <span>USDT 2</span>
                        </div>
                      </div>
                    </div>

                    <div class="showcase__text">Сбербанк RUB</div>
                  </div>
                </div>
              </div>
              <div class="showcase__items" data-showcase-body>
                <div class="showcase__item">
                  <div class="showcase__grid">
                    <span>Отдаете</span>
                    <input type="text" placeholder="1 000" />
                    <p>1000 - 400000</p>
                  </div>

                  <div class="showcase__aside">
                    <div class="showcase__head">
                      <div class="showcase__icon">
                        <img src="images/sber.svg" alt="" />
                      </div>
                      <div class="showcase__select">
                        <div class="showcase__select--head">
                          <span>USDT</span>
                          <svg
                            width="16"
                            height="16"
                            viewBox="0 0 16 16"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                          >
                            <path
                              d="M8.00001 11.2C7.53335 11.2 7.06668 11.0201 6.71335 10.6667L2.36668 6.32005C2.17335 6.12672 2.17335 5.80672 2.36668 5.61338C2.56001 5.42005 2.88001 5.42005 3.07335 5.61338L7.42001 9.96005C7.74001 10.2801 8.26001 10.2801 8.58001 9.96005L12.9267 5.61338C13.12 5.42005 13.44 5.42005 13.6333 5.61338C13.8267 5.80672 13.8267 6.12672 13.6333 6.32005L9.28668 10.6667C8.93335 11.0201 8.46668 11.2 8.00001 11.2Z"
                              fill="black"
                            />
                          </svg>
                        </div>

                        <div class="showcase__select--body">
                          <span>USDT</span>
                          <span>USDT 1</span>
                          <span>USDT 2</span>
                        </div>
                      </div>
                    </div>

                    <div class="showcase__text">Сбербанк RUB</div>
                  </div>
                </div>

                 <div class="showcase__image">
                  <svg
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M8.01726 12.2087H4.57687C4.6874 16.2135 7.96849 19.4261 12 19.4261C14.5943 19.4261 16.8779 18.0957 18.2058 16.08L19.7666 18.2994C17.9332 20.5571 15.1351 22 12 22C6.47715 22 2 17.5229 2 12C2.00001 9.87169 2.66498 7.89873 3.79837 6.27739L8.01726 12.2087ZM12 2C17.5228 2.00001 22 6.47717 22 12C22 13.9146 21.4616 15.7034 20.5284 17.2237L16.3477 11.3218H19.3955C19.0529 7.53835 15.8727 4.57392 12 4.57392C9.6094 4.57392 7.48266 5.70357 6.12438 7.45815L4.59337 5.28109C6.42282 3.26561 9.06363 2 12 2Z"
                      fill="white"
                    />
                  </svg>
                </div>
                <div class="showcase__item">
                  <div class="showcase__grid">
                    <span>Отдаете</span>
                    <input type="text" placeholder="1 000" />
                    <p>1000 - 400000</p>
                  </div>

                  <div class="showcase__aside">
                    <div class="showcase__head">
                      <div class="showcase__icon">
                        <img src="images/sber.svg" alt="" />
                      </div>
                      <div class="showcase__select">
                        <div class="showcase__select--head">
                          <span>RUB</span>
                          <svg
                            width="16"
                            height="16"
                            viewBox="0 0 16 16"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                          >
                            <path
                              d="M8.00001 11.2C7.53335 11.2 7.06668 11.0201 6.71335 10.6667L2.36668 6.32005C2.17335 6.12672 2.17335 5.80672 2.36668 5.61338C2.56001 5.42005 2.88001 5.42005 3.07335 5.61338L7.42001 9.96005C7.74001 10.2801 8.26001 10.2801 8.58001 9.96005L12.9267 5.61338C13.12 5.42005 13.44 5.42005 13.6333 5.61338C13.8267 5.80672 13.8267 6.12672 13.6333 6.32005L9.28668 10.6667C8.93335 11.0201 8.46668 11.2 8.00001 11.2Z"
                              fill="black"
                            />
                          </svg>
                        </div>

                        <div class="showcase__select--body">
                          <span>USDT</span>
                          <span>USDT 1</span>
                          <span>USDT 2</span>
                        </div>
                      </div>
                    </div>

                    <div class="showcase__text">Сбербанк RUB</div>
                  </div>
                </div>
              </div>
            </div>

            <div class="showcase__course">
              <div class="showcase__course--number">
                <span>30</span>
              </div>

              <div class="showcase__course--text">
                <span> Курс обмена</span>
                <p>70 Rub = 1 USDT</p>
              </div>
            </div>

            <div class="showcase__foot">
              <button class="showcase__btn btn btn-blue">Следующий шаг</button>

              <a href="#" class="showcase__link">Проверить адрес кошелека</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
