</main>


<div class="footer">

 

  <div class="container">

    <div class="footer__inner">

      <div class="footer__top">

        <div class="footer__top--left">
          <a href="#" class="footer__logo">
          <img src="images/logo.svg" class="white" alt="">

        </a>
        <div class="footer__copy">
           © Обменко.орг 2019-202. <br> Все права защищены
        </div>
        </div>
         <div class="footer__icons">
          <img src="images/f1.svg" alt="">
          <img src="images/f2.svg" class="white" alt="">
          <img src="images/f3.svg" class="white" alt="">
          <img src="images/f4.svg" class="white" alt="">
          
        </div>
        
        <div class="footer__socials">
          <a href="#">
            <svg width="16" height="14" viewBox="0 0 16 14" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path d="M15.6941 1.19806L13.3381 12.4131C13.1621 13.1861 12.6701 13.3971 12.0021 13.0111L8.38109 10.3391L6.65809 12.0261C6.44809 12.2371 6.30709 12.3781 5.92009 12.3781L6.16609 8.68606L12.8811 2.63906C13.1971 2.39306 12.8111 2.21806 12.4241 2.49906L4.12709 7.70106L0.577089 6.61106C-0.196911 6.36506 -0.232911 5.83806 0.717089 5.45106L14.7091 0.07206C15.3421 -0.17394 15.9041 0.21306 15.6941 1.19806Z" fill="currentColor" />
</svg>
          </a>

          <a href="#">
            <svg width="19" height="16" viewBox="0 0 19 16" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path d="M13.75 0H4.58333C1.83333 0 0 1.375 0 4.58333V11C0 14.2083 1.83333 15.5833 4.58333 15.5833H13.75C16.5 15.5833 18.3333 14.2083 18.3333 11V4.58333C18.3333 1.375 16.5 0 13.75 0ZM14.1808 5.5825L11.3117 7.87417C10.7067 8.36 9.93667 8.59833 9.16667 8.59833C8.39667 8.59833 7.6175 8.36 7.02167 7.87417L4.1525 5.5825C3.85917 5.34417 3.81333 4.90417 4.0425 4.61083C4.28083 4.3175 4.71167 4.2625 5.005 4.50083L7.87417 6.7925C8.57083 7.35167 9.75333 7.35167 10.45 6.7925L13.3192 4.50083C13.6125 4.2625 14.0525 4.30833 14.2817 4.61083C14.52 4.90417 14.4742 5.34417 14.1808 5.5825Z" fill="currentColor" />
</svg>
          </a>
        </div>

      </div>

      <div class="footer__bot">
        


        
        <div class="footer__text">
          Сайт не предоставляет возможности зачисления иностранной валюты на счета валютных резидентов РФ
          Сайт предназначен только для лиц старше 18 лет
        </div>
        <div class="footer__polyt">
          <a href="#">
            Политика конфиденциальности
          </a>
          <a href="#">Политика AML

          </a>
        </div>
      </div>


     
    </div>
    
  </div>

  


</div>







<div class="overhidden"></div>


<!-- REG -->

<div class="modal modal-reg" id="modal-reg">
  <div class="modal__close" data-fancybox-close>
     <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path d="M12 2C6.47 2 2 6.47 2 12C2 17.53 6.47 22 12 22C17.53 22 22 17.53 22 12C22 6.47 17.53 2 12 2ZM17 15.59L15.59 17L12 13.41L8.41 17L7 15.59L10.59 12L7 8.41L8.41 7L12 10.59L15.59 7L17 8.41L13.41 12L17 15.59Z" fill="white" />
</svg>
  </div>


  <div class="modal-reg__content">

    <div class="modal-reg__info">
      <span>Регистрация аккаунта</span>
      <p>
        Здравствуйте, <b>primer@pochta.com!</b> <br>
Поздравляем! Вы успешно зарегистрировались на сайте yesobmen.ru <br>
Ваш временный пароль: !1234@#$ <br>.
Чтобы активировать аккаунт, перейдите по кнопке ниже:
      </p>

      <a href="#" class="modal-reg__btn btn btn-blue">Активировать аккаунт</a>
    </div>




  </div>
</div>

<!-- OPIS -->


<div class="modal modal-reg modal-choose" id="modal-choose">
  <div class="modal__close" data-fancybox-close>
     <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path d="M12 2C6.47 2 2 6.47 2 12C2 17.53 6.47 22 12 22C17.53 22 22 17.53 22 12C22 6.47 17.53 2 12 2ZM17 15.59L15.59 17L12 13.41L8.41 17L7 15.59L10.59 12L7 8.41L8.41 7L12 10.59L15.59 7L17 8.41L13.41 12L17 15.59Z" fill="white" />
</svg>
  </div>


  <div class="modal-reg__content">

    <div class="modal-reg__info">
      <span>Описание обмена</span>
      <p>
      Для обмена Вам необходимо выполнить несколько шагов:
      </p>


      <div class="modal-reg__items">
        <div class="modal-reg__item">
          <span>1</span>
          <p>Заполните все поля представленной формы.</p>
        </div>
        <div class="modal-reg__item">
          <span>2</span>
          <p>Ознакомьтесь с правилами сервиса, если вы принимаете их нажмите кнопку «YES» («Согласен»). Еще раз проверьте данные заявки.</p>
        </div>
        <div class="modal-reg__item">
          <span>3</span>
          <p>Оплатите заявку. Для этого следует совершить перевод необходимой суммы, следуя инструкциям на нашем сайте.</p>
        </div>
        <div class="modal-reg__item">
          <span>4</span>
          <p>После выполнения указанных действий, система переместит Вас на страницу «Статус заявки», где будет указан статус вашего перевода.</p>
        </div>
      </div>

      <div class="modal-reg__desc">
       <b> Внимание!</b> Для выполнения данной операции потребуется участие оператора.
      </div>

    </div>




  </div>
</div>

<!-- INFO -->


<div class="modal modal-reg modal-info" id="modal-info">
  <div class="modal__close" data-fancybox-close>
     <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path d="M12 2C6.47 2 2 6.47 2 12C2 17.53 6.47 22 12 22C17.53 22 22 17.53 22 12C22 6.47 17.53 2 12 2ZM17 15.59L15.59 17L12 13.41L8.41 17L7 15.59L10.59 12L7 8.41L8.41 7L12 10.59L15.59 7L17 8.41L13.41 12L17 15.59Z" fill="white" />
</svg>
  </div>


  <div class="modal-reg__content">

    <div class="modal-reg__info">
      <span>Описание обмена</span>
      <p>
      Данная операция производится оператором в ручном режиме и занимает от 5 до 120 минут в рабочее время. <br> <br>

Как только Ваши средства будут зачислены мы произведем оплату <br>
на указанные в заявке реквизиты. <br>
В связи с высокой волатильностью рынка, курс обновляется  <br>
каждые 5 секунд. <br>
Время оплаты заявки составляет 15 минут, после этого времени заявка считается не актуальной и необходимо создать новую.
 <br> <br>
Обращаем Ваше внимание, что курс фиксируется после 1 подтверждения сети по ЦБ РФ.
      </p>


     

      <div class="modal-reg__desc">
       <b>Внимание!</b> Будет проведена проверка Вашей транзакции согласно Политики AML обменного пункта. <br>
При обнаружении Высокорискованной транзакции (п.2.19 Правила сайта) Заявка обрабатывается согласно п.5.23 Правил сайта.
      </div>

    </div>



  </div>
</div>

<!-- Modal-noti -->

<div class="modal modal-noti" id="modal-noti">
  <div class="modal__close" data-fancybox-close>
     <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path d="M12 2C6.47 2 2 6.47 2 12C2 17.53 6.47 22 12 22C17.53 22 22 17.53 22 12C22 6.47 17.53 2 12 2ZM17 15.59L15.59 17L12 13.41L8.41 17L7 15.59L10.59 12L7 8.41L8.41 7L12 10.59L15.59 7L17 8.41L13.41 12L17 15.59Z" fill="white" />
</svg>
  </div>

  <div class="modal-noti__content">
   
    <div class="modal-noti__head">
      Уведомление
    </div>
    <div class="modal-noti__text">Сбербанк RUB:</div>

    <div class="modal-noti__desc">Обратите внимание, выплаты происходят с использованием сторонней платежной системы.
Средства могут зачисляться в течение 1-2 часов. В исключительных случаях средства могут зачисляться 24 часа.</div>


    <a href="#" class="modal-noti__btn btn btn-primary">Далее</a>
  </div>


 
</div>



<!-- Modal-login-->

<div class="modal modal-login" id="modal-login">
  <div class="modal__close" data-fancybox-close>
     <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path d="M12 2C6.47 2 2 6.47 2 12C2 17.53 6.47 22 12 22C17.53 22 22 17.53 22 12C22 6.47 17.53 2 12 2ZM17 15.59L15.59 17L12 13.41L8.41 17L7 15.59L10.59 12L7 8.41L8.41 7L12 10.59L15.59 7L17 8.41L13.41 12L17 15.59Z" fill="white" />
</svg>
  </div>

  <div class="modal-noti__content">
   
    <div class="modal-noti__head">
      Регистрация
    </div>
    
    <form action="#">
      <div class="steps-operation__input">
                <input type="text" placeholder="E-mail">
                <svg width="14" height="11" viewBox="0 0 14 11" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path d="M12 0H1.33333C0.6 0 0.00666666 0.6 0.00666666 1.33333L0 9.33333C0 10.0667 0.6 10.6667 1.33333 10.6667H12C12.7333 10.6667 13.3333 10.0667 13.3333 9.33333V1.33333C13.3333 0.6 12.7333 0 12 0ZM12 2.66667L6.66667 6L1.33333 2.66667V1.33333L6.66667 4.66667L12 1.33333V2.66667Z" fill="white" />
</svg>
                </div>
              <div class="steps-operation__input">
                <input type="text" placeholder="Пароль">
               <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path d="M10.667 0C11.4001 0.000177326 11.9998 0.599931 12 1.33301V10.667C11.9998 11.4001 11.4001 11.9998 10.667 12H1.33301C0.593269 11.9998 0.000175356 11.4001 0 10.667V1.33301C0.000175549 0.59993 0.593269 0.000175922 1.33301 0H10.667ZM4.03027 3.63672C2.72635 3.63673 1.66699 4.69607 1.66699 6C1.66699 7.30393 2.72635 8.36327 4.03027 8.36328C5.05836 8.36328 5.93276 7.70584 6.25586 6.78809H7.96973V8.36328H9.5459V6.78809H10.333V5.21191H6.25586C5.93276 4.29416 5.05836 3.63672 4.03027 3.63672ZM4.03027 5.21191C4.46361 5.21191 4.81836 5.56667 4.81836 6C4.81836 6.43333 4.46361 6.78809 4.03027 6.78809C3.59695 6.78807 3.24219 6.43332 3.24219 6C3.24219 5.56668 3.59695 5.21193 4.03027 5.21191Z" fill="white" />
</svg>
              </div>

              <button class="modal-login__btn btn btn-primary">Отправить</button>
    </form>
  </div>


 
</div>

<div class="modal modal-login" id="modal-auto">
  <div class="modal__close" data-fancybox-close>
     <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path d="M12 2C6.47 2 2 6.47 2 12C2 17.53 6.47 22 12 22C17.53 22 22 17.53 22 12C22 6.47 17.53 2 12 2ZM17 15.59L15.59 17L12 13.41L8.41 17L7 15.59L10.59 12L7 8.41L8.41 7L12 10.59L15.59 7L17 8.41L13.41 12L17 15.59Z" fill="white" />
</svg>
  </div>

  <div class="modal-noti__content">
   
    <div class="modal-noti__head">
      Авторизация
    </div>
    
    <form action="#">
      <div class="steps-operation__input">
                <input type="text" placeholder="E-mail">
               <svg width="14" height="11" viewBox="0 0 14 11" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path d="M12 0H1.33333C0.6 0 0.00666666 0.6 0.00666666 1.33333L0 9.33333C0 10.0667 0.6 10.6667 1.33333 10.6667H12C12.7333 10.6667 13.3333 10.0667 13.3333 9.33333V1.33333C13.3333 0.6 12.7333 0 12 0ZM12 2.66667L6.66667 6L1.33333 2.66667V1.33333L6.66667 4.66667L12 1.33333V2.66667Z" fill="white" />
</svg>
                </div>
              <div class="steps-operation__input">
                <input type="text" placeholder="Пароль">
               <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path d="M10.667 0C11.4001 0.000177326 11.9998 0.599931 12 1.33301V10.667C11.9998 11.4001 11.4001 11.9998 10.667 12H1.33301C0.593269 11.9998 0.000175356 11.4001 0 10.667V1.33301C0.000175549 0.59993 0.593269 0.000175922 1.33301 0H10.667ZM4.03027 3.63672C2.72635 3.63673 1.66699 4.69607 1.66699 6C1.66699 7.30393 2.72635 8.36327 4.03027 8.36328C5.05836 8.36328 5.93276 7.70584 6.25586 6.78809H7.96973V8.36328H9.5459V6.78809H10.333V5.21191H6.25586C5.93276 4.29416 5.05836 3.63672 4.03027 3.63672ZM4.03027 5.21191C4.46361 5.21191 4.81836 5.56667 4.81836 6C4.81836 6.43333 4.46361 6.78809 4.03027 6.78809C3.59695 6.78807 3.24219 6.43332 3.24219 6C3.24219 5.56668 3.59695 5.21193 4.03027 5.21191Z" fill="white" />
</svg>
              </div>


               <label class="checkbox">
                        <span class="checkbox__inner">
                            <input type="checkbox" />
                            <span></span>
                        </span>
                        <span class="checkbox__text">
                         Запомнить
                        </span>
                    </label>


                    <div class="modal-login__desc">
                      Если вы забыли пароль, вы можете 
<a href="#">сбросить его.</a>
                    </div>




              <button class="modal-login__btn btn btn-primary">Войти</button>
    </form>
  </div>


 
</div>





<script src="libraries/jquery-3.7.1.min.js"></script>
<script src="libraries/swiper/swiper-bundle.min.js"></script>
<script src="libraries/fancybox/jquery.fancybox.min.js"></script>
<script src="libraries/select2/select2.min.js"></script>
<script src="libraries/inputTel/inputTel.js"></script>
<script src="libraries/imask.js"></script>
<script src="js/all-scripts.js"></script>




</body>

</html>