@use '../../../style/scss/variables.scss' as *;

.work {
  margin-bottom: 80px;
  position: relative;
  z-index: 1;

  @media only screen and (max-width: 991px) {
    margin-bottom: 56px;
  }

  &__inner {
    background-color: #fff;
    border-radius: 32px;
    padding: 16px;

    @media only screen and (max-width: 991px) {
      padding: 12px;
    }
  }

  &__title {
    height: 96px;
    background: url('/images/work-bg-white.png') 50% 50%;
    background-size: cover;
    border-radius: 32px;
    padding: 24px 36px;
    color: #fff;
    display: flex;
    align-items: center;
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 16px;

    @media only screen and (max-width: 767px) {
      box-shadow: inset 0 8px 14px 0 rgba(255, 255, 255, 0.32);
      background: linear-gradient(172deg, #44c9ff 0%, #0a6d94 100%);
      font-size: 24px;
      height: 61px;
      border-radius: 16px;
      padding: 16px;
    }
  }

  &__items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 16px;

    @media only screen and (max-width: 1300px) {
      grid-template-columns: 1fr 1fr;
    }

    @media only screen and (max-width: 991px) {
      grid-template-columns: 1fr;
    }
  }

  &__item {
    background: #f1f8ff;
    padding: 24px;
    border-radius: 20px;
    position: relative;
    overflow: hidden;

    @media only screen and (max-width: 991px) {
      padding: 16px;
    }

    &:before {
      content: '';
      display: block;
      position: absolute;
      background: url('/images/work-blur.png');
      background-size: cover;
      width: 170px;
      height: 170px;
      right: 0;
      bottom: 0;
    }

    &:first-child {
      grid-column: span 2;

      @media only screen and (max-width: 991px) {
        grid-column: span 1;
      }
    }
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    background: #fff;
    border-radius: 50%;
    margin-bottom: 12px;
  }

  &__text {
    font-weight: 600;
    font-size: 21px;
    margin-bottom: 12px;

    @media only screen and (max-width: 991px) {
      font-size: 16px;
    }
  }

  &__desc {
    opacity: 0.8;

    @media only screen and (max-width: 991px) {
      font-size: 14px;
    }

    a {
      color: $base-primery;
      cursor: pointer;
      font-weight: 600;
      text-decoration: underline;
    }
  }
}
