<div class="work">
  <div class="container">
    <div class="work__inner">
      <h3 class="work__title">Надежный сервис по обмену криптовалют</h3>

      <div class="work__text">5 000 положительных отзывов на BESTCHANGE</div>

      <div class="work__items">
        <div class="work__item">
          <div class="work__head">
            <span>Пять лет на рынке</span>
            <p>У нас работают опытные специалисты</p>
          </div>
          <div class="work__icon">
            <img src="images/work-img.png" alt="" />
          </div>
        </div>
         <div class="work__item">
          <div class="work__head">
            <span>Честный курс</span>
            <p>Мы не обманываем своих клиентов</p>
          </div>
          <div class="work__icon">
            <img src="images/work-img.png" alt="" />
          </div>
        </div>
         <div class="work__item">
          <div class="work__head">
            <span>Гарантия чистых активов</span>
            <p>Отправляем криптовалюту с топовых бирж</p>
          </div>
          <div class="work__icon">
            <img src="images/work-img.png" alt="" />
          </div>
        </div>
         <div class="work__item">
          <div class="work__head">
            <span>Отличный сервис</span>
            <p>Приходите и лично в этом убедитесь</p>
          </div>
          <div class="work__icon">
            <img src="images/work-img.png" alt="" />
          </div>
        </div>
         <div class="work__item">
          <div class="work__head">
            <span>Выгодный курс</span>
            <p>Обмен с максимальной выгодой</p>
          </div>
          <div class="work__icon">
            <img src="images/work-img.png" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
