<div class="about">
  <div class="container">
    <div class="about__inner">
      <div class="about__info">
        <div class="about__title">Мы дорожим нашими клиентами</div>

        <div class="about__text">
          Один из самых высоких показателей положительных отзывов - 99,6%
        </div>

        <a href="#" class="about__btn btn btn-blue">Посмотреть отзывы</a>
      </div>

      <div class="about__stars">
        <div class="about__star">
          <img src="images/star.svg" alt="" />
        </div>
        <div class="about__star">
          <img src="images/star.svg" alt="" />
        </div>
        <div class="about__star">
          <img src="images/star.svg" alt="" />
        </div>
        <div class="about__star">
          <img src="images/star.svg" alt="" />
        </div>
        <div class="about__star">
          <img src="images/star.svg" alt="" />
        </div>
      </div>
    </div>
  </div>
</div>
