@use '../../../style/scss/variables.scss' as *;

.about-showcase {
  position: relative;
  z-index: 10;
  margin-bottom: 160px;

  @media only screen and (max-width: 991px) {
    margin-top: 40px;
    margin-bottom: 110px;
  }

  &__title {
    font-weight: 600;
    font-size: 40px;
    margin-bottom: 40px;

    @media only screen and (max-width: 991px) {
      font-size: 24px;
    }
  }

  &__info {
    @media only screen and (max-width: 991px) {
      font-size: 14px;
    }

    span {
      font-weight: 600;
      display: block;
      margin-bottom: 12px;
    }
  }

  &__items {
    display: flex;
    align-items: flex-start;
    margin-top: 32px;
    gap: 32px;
    width: fit-content;

    @media only screen and (max-width: 991px) {
      flex-direction: column;
      width: 100%;
    }

    span {
      display: block;
      font-weight: 600;
      font-size: 18px;
      margin-bottom: 12px;
    }
  }

  &__link {
    font-weight: 600;
    font-size: 16px;
    text-decoration: underline;
  }

  &__item {
    @media only screen and (max-width: 991px) {
      width: 100%;
    }
  }

  &__btn {
    gap: 5px;

    @media only screen and (max-width: 991px) {
      width: 100%;
      gap: 10px;
    }

    &:hover {
      svg {
        path {
          fill: #fff;
        }
      }
    }
  }
}
