<div class="about-showcase">
  <div class="container">
    <div class="about-showcase__inner">
      <h3 class="about-showcase__title">Контакты</h3>
      <div class="about-showcase__info">
        <span>Режим работы</span>
        <p>Мы работаем 24/7 и рады ответить на ваши вопросы</p>
      </div>

      <div class="about-showcase__items">
        <div class="about-showcase__item">
          <span>Телеграмм</span>
          <a href="#" class="about-showcase__btn btn btn-primary">
            <svg
              width="18"
              height="15"
              viewBox="0 0 18 15"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M15 14.5L17.5 0L0 7L4 8.5L11.5 5L7.5 10L15 14.5Z"
                fill="black"
              />
            </svg>
            <b>Nordex</b>
          </a>
        </div>

        <div class="about-showcase__item">
          <span>Почта</span>
          <a href="#" class="about-showcase__link"> info@nordex.cc </a>
        </div>
      </div>
    </div>
  </div>
</div>
