<div class="about-rev">
  <div class="container">
    <div class="about-rev__inner">
      <h3 class="about-rev__title">Отзывы</h3>

      <div class="about-rev__container">
        <div class="about-rev__information">
          <div class="about__info">
            <div class="about__title">Мы дорожим нашими клиентами</div>

            <div class="about__text">
              Один из самых высоких показателей положительных отзывов - 99,6%
            </div>

            <a href="#" class="about__btn btn btn-blue">Посмотреть отзывы</a>
          </div>

          <div class="about__stars">
            <div class="about__star">
              <img src="images/star.svg" alt="" />
            </div>
            <div class="about__star">
              <img src="images/star.svg" alt="" />
            </div>
            <div class="about__star">
              <img src="images/star.svg" alt="" />
            </div>
            <div class="about__star">
              <img src="images/star.svg" alt="" />
            </div>
            <div class="about__star">
              <img src="images/star.svg" alt="" />
            </div>
          </div>
        </div>
        <div class="about-rev__aside">
          <div class="about-rev__items">
            <div class="about-rev__item">
              <div class="about-rev__name">Илья</div>

              <div class="about-rev__text">
                Максимально оперативный обменник! Впредь буду пользоваться!
                Спасибо!
              </div>

              <div class="about-rev__date">25.03.2024, 15:03</div>
            </div>
            <div class="about-rev__item">
              <div class="about-rev__name">Илья</div>

              <div class="about-rev__text">
                Максимально оперативный обменник! Впредь буду пользоваться!
                Спасибо!
              </div>

              <div class="about-rev__date">25.03.2024, 15:03</div>
            </div>
            <div class="about-rev__item">
              <div class="about-rev__name">Илья</div>

              <div class="about-rev__text">
                Максимально оперативный обменник! Впредь буду пользоваться!
                Спасибо!
              </div>

              <div class="about-rev__date">25.03.2024, 15:03</div>
            </div>
            <div class="about-rev__item">
              <div class="about-rev__name">Илья</div>

              <div class="about-rev__text">
                Максимально оперативный обменник! Впредь буду пользоваться!
                Спасибо!
              </div>

              <div class="about-rev__date">25.03.2024, 15:03</div>
            </div>
            <div class="about-rev__item">
              <div class="about-rev__name">Илья</div>

              <div class="about-rev__text">
                Максимально оперативный обменник! Впредь буду пользоваться!
                Спасибо!
              </div>

              <div class="about-rev__date">25.03.2024, 15:03</div>
            </div>
          </div>

          @@include('../../elements/pagination/template.html',{})
        </div>
      </div>
    </div>
  </div>
</div>
