<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <link rel="apple-touch-icon" sizes="180x180" href="favicon/favicon.png" />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="favicon/favicon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="favicon/favicon.png"
    />
    <link rel="shortcut icon" type="image/x-icon" href="favicon/favicon.ico" />

    <link rel="stylesheet" href="libraries/fancybox/jquery.fancybox.min.css" />
    <link rel="stylesheet" href="libraries/swiper/swiper-bundle.min.css" />
    <link rel="stylesheet" href="libraries/select2/select2.min.css" />
    <link rel="stylesheet" href="libraries/inputTel/inputTel.css" />

    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/all-style.css" />
    <title>@@title</title>
  </head>

  <body>
    <div class="wrapper">
      <div class="wrapper-bg wrapper-bg-white">
        <img src="images/bg-white.png" alt="" />
      </div>
  
      <div class="wrapper-bg wrapper-bg-dark">
        <img src="images/bg-dark.png" alt="" />
      </div>
  
      <div class="wrapper-img wrapper-img-white">
        <img src="images/bg-white-img.png" alt="" />
      </div>
  
      <div class="wrapper-img wrapper-img-dark">
        <img src="images/bg-dark-img.png" alt="" />
      </div>

      <header class="header">
        <div class="container">
          <div class="header__inner">
            <a href="#" class="header__logo">
              <img src="images/logo.svg" alt="" />
            </a>

            <div class="header__mobile">
              <div class="header__close">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="20"
                  height="20"
                  viewBox="0 0 20 20"
                  fill="none"
                >
                  <path
                    d="M15 15L5 5M15 5L5 15"
                    stroke="#202020"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  ></path>
                </svg>
              </div>
              <ul class="header__nav">
                <li>
                  <a href="#">О нас</a>
                </li>
                <li>
                  <a href="#">Правила</a>
                </li>
                <li>
                  <a href="#">Новости</a>
                </li>
                <li>
                  <a href="#">FAQ</a>
                </li>
                <li>
                  <a href="#">Партнерам</a>
                </li>
              </ul>

              <!-- ТУТ НЕ ЗАЛОГИНЕННЫЙ -->
              <div style="display: none">
                <a href="#" class="header__btn btn btn-primary">Войти</a>
              </div>

              <!-- ТУТ ЗАЛОГИНЕННЫЙ -->

              <div class="header__correct mobile">
                <div class="header__correct--btn">
                  <span>primer@poprimer@poвфывфывфывфывфывфывфыprimer@po</span>
                  <svg
                    width="16"
                    height="16"
                    viewBox="0 0 16 16"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M8.00001 11.1999C7.53335 11.1999 7.06668 11.0199 6.71335 10.6666L2.36668 6.31993C2.17335 6.12659 2.17335 5.8066 2.36668 5.61326C2.56001 5.41993 2.88001 5.41993 3.07335 5.61326L7.42001 9.95993C7.74001 10.2799 8.26001 10.2799 8.58001 9.95993L12.9267 5.61326C13.12 5.41993 13.44 5.41993 13.6333 5.61326C13.8267 5.8066 13.8267 6.12659 13.6333 6.31993L9.28668 10.6666C8.93335 11.0199 8.46668 11.1999 8.00001 11.1999Z"
                      fill="#2F2F2F"
                    />
                  </svg>
                </div>

                <div class="header__correct--dropdown">
                  <a href="#">Выход</a>
                </div>
              </div>
            </div>

            <div class="header__content">
              <div class="header__theme">
                <div class="header__theme--light">
                 <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path d="M19.0696 18.7231C20.3565 17.4361 21.2121 15.8734 21.6505 14.2329C18.313 15.1239 14.6148 14.2683 11.9985 11.652C9.38219 9.03571 8.5266 5.33754 9.41755 2C7.77706 2.43841 6.21436 3.29401 4.92742 4.58094C1.02419 8.48417 1.02419 14.8198 4.92742 18.7231C8.83065 22.6263 15.1663 22.6263 19.0696 18.7231Z" fill="white" />
</svg>
                </div>

                <div class="header__theme--black">
                <svg width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path d="M19.31 8V3.31H14.62L11.31 0L8 3.31H3.31V8L0 11.31L3.31 14.62V19.31H8L11.31 22.62L14.62 19.31H19.31V14.62L22.62 11.31L19.31 8ZM11.31 17.31C8 17.31 5.31 14.62 5.31 11.31C5.31 8 8 5.31 11.31 5.31C14.62 5.31 17.31 8 17.31 11.31C17.31 14.62 14.62 17.31 11.31 17.31Z" fill="white" />
</svg>
                </div>
              </div>

              <div class="header__lang">En</div>

              <!-- ТУТ НЕ ЗАЛОГИНЕННЫЙ -->
              <div style="display: none">
                <a href="#" class="header__btn btn btn-primary">Войти</a>
              </div>

              <!-- ТУТ ЗАЛОГИНЕННЫЙ -->

              <div class="header__correct">
                <div class="header__correct--btn">
                  <span>primer@po.вфывфывфывфывфывфывфыв..</span>
                  <svg
                    width="16"
                    height="16"
                    viewBox="0 0 16 16"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M8.00001 11.1999C7.53335 11.1999 7.06668 11.0199 6.71335 10.6666L2.36668 6.31993C2.17335 6.12659 2.17335 5.8066 2.36668 5.61326C2.56001 5.41993 2.88001 5.41993 3.07335 5.61326L7.42001 9.95993C7.74001 10.2799 8.26001 10.2799 8.58001 9.95993L12.9267 5.61326C13.12 5.41993 13.44 5.41993 13.6333 5.61326C13.8267 5.8066 13.8267 6.12659 13.6333 6.31993L9.28668 10.6666C8.93335 11.0199 8.46668 11.1999 8.00001 11.1999Z"
                      fill="#2F2F2F"
                    />
                  </svg>
                </div>

                <div class="header__correct--dropdown">
                  <a href="#">Аккаунт</a>
                  <a href="#">Выход</a>
                </div>
              </div>
              <div class="header__burger">
                <svg
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M21 7.75H3C2.59 7.75 2.25 7.41 2.25 7C2.25 6.59 2.59 6.25 3 6.25H21C21.41 6.25 21.75 6.59 21.75 7C21.75 7.41 21.41 7.75 21 7.75Z"
                    fill="white"
                  />
                  <path
                    d="M21 12.75H3C2.59 12.75 2.25 12.41 2.25 12C2.25 11.59 2.59 11.25 3 11.25H21C21.41 11.25 21.75 11.59 21.75 12C21.75 12.41 21.41 12.75 21 12.75Z"
                    fill="white"
                  />
                  <path
                    d="M21 17.75H3C2.59 17.75 2.25 17.41 2.25 17C2.25 16.59 2.59 16.25 3 16.25H21C21.41 16.25 21.75 16.59 21.75 17C21.75 17.41 21.41 17.75 21 17.75Z"
                    fill="white"
                  />
                </svg>
              </div>
            </div>
          </div>
        </div>
      </header>
      <main class="main">